.about {
  &__content-wrap {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 60px;
    margin-bottom: $margin-large;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr minmax(0, 2fr);
      gap: responsive-value(30px, 60px);
    }
  }
  &__left {
    opacity: 0;
    body.init & {
      animation: SlideFadeTop 0.6s var(--easing) 1.2s forwards;
    }
  }
  &__content {
    position: relative;
    opacity: 0;
    body.init & {
      animation: SlideFadeTop 0.6s var(--easing) 1.4s forwards;
    }
  }
  &__date {
    color: $color-gray;
    margin-bottom: responsive-value(30px, 60px);
  }

  &__lead {
    @include font-h3;
    font-weight: 700;
    margin-bottom: responsive-value(40px, 60px);
  }

  &__slider {
    margin-left: calc(#{$container-margin} * -1);
    margin-right: calc(#{$container-margin} * -1);

    @media (min-width: $breakpoint-medium) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
