.accordion {
  &__item {
    margin-top: $margin-100;
    box-sizing: border-box;
    margin-bottom: $margin-100;
    padding-bottom: $margin-60;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -50vw;
      right: 50%;
      border-bottom: 2px solid $color-black;
    }

    &-header {
      margin: 0;
      padding: 0;
      position: relative;
    }
    &-trigger {
      @include font-h3;
      font-weight: 700;

      text-align: left;
      width: calc(100% - 80px);

      display: block;
      cursor: pointer;
      background-color: transparent;
      -webkit-transition: color 0.25s ease;
      transition: color 0.25s ease;
      text-decoration: none;
      margin: 0;
      border: 0;

      @media (min-width: $breakpoint-medium) {
        width: calc(100% - 200px);
      }

      &:after {
        content: '';
        text-align: center;
        width: 60px;
        height: 60px;
        border: 2px solid $color-black;
        background-color: rgba($color-black, 0);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        position: absolute;
        right: 0;
        top: 50%;
        transition: background-color var(--transition);

        .accordion__item.is-active & {
          background-color: $color-black;
        }
      }
      &:focus {
      }
    }

    &-panel {
      padding-top: $margin-60;
      width: calc(100% - 80px);

      overflow: hidden;
      -webkit-transition-property: height, visibility;
      transition-property: height, visibility;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;

      @media (min-width: $breakpoint-medium) {
        width: calc(100% - 200px);
      }

      .accordion__item.js-enabled & {
        visibility: hidden;
      }

      .accordion__item.is-active & {
        visibility: visible;
      }
    }
    &-text {
      margin: 0;
    }
  }
}
