.contacts {
  &__subtitle {
    @include font-h3;
    font-weight: 700;
    margin-bottom: responsive-value(30px, 60px);
  }

  &__content-wrap {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 60px;
    margin-bottom: $margin-large;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr 1fr;
      gap: responsive-value(30px, 60px);
    }
  }

  &__left {
    opacity: 0;
    body.init & {
      animation: SlideFadeTop 0.6s var(--easing) 1.2s forwards;
    }

    @media (min-width: $breakpoint-medium) {
      max-width: 70%;
    }
  }

  &__content {
    order: -1;
    text-align: center;

    opacity: 0;
    body.init & {
      animation: SlideFadeTop 0.6s var(--easing) 1.4s forwards;
    }

    @media (min-width: $breakpoint-medium) {
      order: 1;
    }
  }

  &__card {
    position: relative;
    text-align: left;
    margin: 0 auto;

    @media (min-width: $breakpoint-medium) {
      max-width: 70%;
    }

    &-image {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-black, 0.12);
        z-index: 0;
      }

      & img {
        width: 100%;
        height: 100%;
        min-height: 600px;

        object-fit: cover;
      }
    }
    &-content {
      position: absolute;
      padding: $content-padding;
      bottom: 0;
      left: 0;
      right: 0;
      color: $color-white;
      display: flex;
      flex-direction: column;

      & a {
        color: $color-white;
        &:hover,
        &:focus {
          color: $color-black;
        }
      }
    }
    &-role {
      margin-bottom: 20px;
    }
    &-name {
      @include font-h3;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}
