.content {
  // &__title {
  //   margin-bottom: responsive-value(40px, 60px);
  //   & span {
  //     @include title-underline;
  //     padding-bottom: responsive-value(40px, 60px);
  //   }
  // }

  &__intro {
    margin-bottom: $margin-large;
  }
  &__muted {
    color: $color-gray;
    line-height: 1.3;
  }

  &__content {
    &-text {
      line-height: 1.7;

      & h1,
      & h2,
      & h3 {
        margin-bottom: $margin-100;
        margin-top: $margin-100;
        font-weight: 700;
      }

      & a {
        color: $color-gray;
        text-decoration: underline;

        &:hover {
          color: $color-gray-dark;
        }
      }

      & p {
        & + ul {
          margin-top: 40px;
        }
      }

      & ul {
        padding-left: responsive-value(45px, 90px);

        & li {
          position: relative;
          margin-bottom: 30px;

          &:before {
            $bullet-size: 25px;

            content: '';
            position: absolute;
            left: calc(-15px - #{$bullet-size});
            top: 3px;
            width: $bullet-size;
            height: $bullet-size;
            background-color: $color-black;
          }
        }
      }
    }
  }
}
