.gallery {
  &__title {
    margin-bottom: 43px;

    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }
  &__navigation {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: responsive-value(80px, 160px);

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    align-self: flex-start;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-medium) {
      grid-column: 1 / 5;
      grid-row: 2 / 3;
    }

    &-item {
      @include font-h4;
      height: 1.4em;
      display: flex;
      align-items: center;

      margin-right: responsive-value(30px, 46px);
      color: $color-gray;

      &:hover {
        color: $color-black;
      }

      &.active {
        color: $color-black;
      }
    }
  }
  &__filter {
    @media (min-width: $breakpoint-medium) {
      grid-column: 5 / -1;
      grid-row: 2 / 3;
    }
    &-category {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin-bottom: responsive-value(30px, 60px);

      display: flex;
      flex-direction: column;
      align-items: start;

      @media (min-width: $breakpoint-medium) {
        display: block;

        grid-column: 5 / -1;
        grid-row: 1 / 2;
      }
      &-item {
        // @include font-h4;
        font-size: 40px;
        line-height: 1.1;
        margin-right: responsive-value(30px, 46px);
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @media (min-width: $breakpoint-medium) {
          // padding-bottom: 0;
          margin-bottom: 0;
        }

        color: $color-gray;

        &:hover {
          color: $color-black;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          color: $color-black;

          &:before {
            content: '';
            border-bottom: 2px solid $color-black;
            position: absolute;
            display: block;
            bottom: 0;
            right: -1em;
            left: -100vw;
            @media (min-width: $breakpoint-medium) {
              right: 0;
            }
          }
        }
      }
    }
    &-subcategory {
      margin-bottom: responsive-value(
        40px,
        90px,
        $mobile-min-width,
        $breakpoint-medium
      );

      @media (min-width: $breakpoint-medium) {
        grid-column: 5 / -1;
        grid-row: 2 / 3;

        margin-bottom: 0;
      }

      &-item {
        @include font-lead;
        color: $color-gray;

        &:hover {
          color: $color-black;
        }

        &:after {
          content: ', ';
        }

        &:last-child {
          &:after {
            content: '';
          }
        }

        &.active {
          color: $color-black;
        }
      }
    }
  }

  &__items {
    & + .gallery__pagination {
      margin-top: responsive-value(100px, 200px);
      justify-content: start;
      @media (min-width: $breakpoint-medium) {
        justify-content: end;
      }
    }
  }
  &__item {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-areas: 'image image image image image . content content content content content content';
    display: flex;
    gap: responsive-value(40px, 98px);
    flex-direction: column;

    margin-bottom: $margin-large;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--reverse,
    &:nth-child(2n) {
      flex-direction: column;
      @media (min-width: $breakpoint-medium) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    &-image {
      display: block;
      grid-area: image;
      flex: 0 0 auto;
      position: relative;
      overflow: hidden;
      flex-basis: 42%;

      .gallery__item--horizontal & {
        flex-basis: 58%;
      }
      .gallery__item--vertical & {
        flex-basis: 42%;
      }

      &:hover img,
      &:focus img {
        transform: scale(1.05);
        filter: grayscale(0);
      }

      & img {
        user-select: none;
        // width: auto;
        width: 100%;

        transition: all var(--transition);
        // @include transition-fix;

        @media (min-width: $breakpoint-small) {
          // max-height: 54vh;
        }

        @media (min-width: $breakpoint-medium) {
          // max-height: 50vw;
          filter: grayscale(1);
        }
      }
    }

    &-link {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    &-like {
      position: absolute;
      bottom: $content-padding;
      right: $content-padding;
      cursor: pointer;
      z-index: 2;

      &:hover {
        & svg {
          fill: $color-white;
          // stroke: $color-black;
        }
      }

      & * {
        pointer-events: none;
      }

      & svg {
        width: $gallery-icon-width;
        stroke: $color-white;
        stroke-width: 2px;
        fill: rgba($color-white, 0);
        transition: all var(--transition);
      }
    }
    &-content {
      // grid-area: content;
      flex: 1 1 auto;
    }
    &-title {
      display: block;
      @include font-h2;
      margin-bottom: 20px;

      & > a {
        @include underline-hover;
        &:hover {
          color: $color-black;
        }
      }
    }
    &-author {
      // font-size: 24px;
      // @media (min-width: $breakpoint-medium) {
      @include font-h4;
      // }
      color: $color-gray;
      margin-bottom: 27px;

      & > a {
        color: $color-gray;

        @include underline-hover($color-gray);
      }
    }
    &-tags {
      color: $color-gray;
      max-width: 400px;
    }
  }
}
