.icon {
  $social-icon-size: 51px;
  $video-icon-size: 56px;

  flex: 0 0 auto;

  position: relative;
  transition: all var(--transition);
  overflow: hidden;

  width: $gallery-icon-width;
  height: $gallery-icon-width;

  &--social {
    width: $social-icon-size;
    height: $social-icon-size;
  }
  &--video {
    width: $video-icon-size;
    height: $video-icon-size;
  }

  .footer--black & {
    filter: invert(1);
  }

  & * {
    pointer-events: none;
  }

  & svg {
    transition: all var(--transition);
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      transform: translateX(-100%);
      transition: transform var(--transition);
      z-index: -1;

      .icon:hover & {
        transform: translateX(0);
      }
    }

    &--size {
      clip-path: url(#icon-size);
    }
    &--like {
      clip-path: url(#icon-like);
    }
    &--zoom {
      clip-path: url(#icon-zoom);
    }
    &--close {
      clip-path: url(#icon-close);
    }
    &--video {
      clip-path: url(#icon-video);
    }
    &--instagram {
      clip-path: url(#icon-instagram);
      background: $color-black;
    }
    &--twitter {
      clip-path: url(#icon-twitter);
      background: $color-black;
    }
    &--facebook {
      clip-path: url(#icon-facebook);
      background: $color-black;
    }
  }

  &__fill {
    fill: transparent;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $color-black;
  }

  &__stroke {
    stroke: $color-white;
    fill: transparent;
    transition: stroke var(--transition);

    .icon--social & {
      stroke: rgba($color-black, 0);
    }

    .icon:hover & {
      stroke: $color-black;
    }

    &--white {
      .icon:hover & {
        stroke: $color-white;
      }
    }
  }

  &__front-fill {
    fill: $color-white;
    transition: fill var(--transition);

    .icon:hover & {
      fill: $color-black;
    }
  }
}
