$main-slider-gap: responsive-value(30px, 60px);

.main-slider {
  margin-top: 0;
  position: relative;

  transition: all var(--transition);
  opacity: 0;
  body.init & {
    animation: SlideFadeTop 0.6s var(--easing) 0.8s forwards;
  }

  &__wrapper {
    align-items: center;
  }

  &__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $main-slider-gap;

    @media (min-width: $breakpoint-medium) {
      margin: 0 $container-margin;
      // margin-top: 0;
      flex-direction: row;
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    gap: 20px;

    bottom: $content-padding;
    right: $content-padding;

    z-index: 5;
  }
}

.main-slider-1 {
  position: relative;
  order: 2;
  margin: 0 $container-margin;

  @media (min-width: $breakpoint-medium) {
    flex: 0 0 30%;
    width: 30%;
    order: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: $column-margin;
    // width: 75%;
    background-color: $color-white;
    box-sizing: border-box;
    overflow: hidden;

    flex: 0 0 auto;
    // display: block;

    @media (min-width: $breakpoint-medium) {
      align-items: center;
      // gap: $column-margin;
      // width: 75%;
      // padding: $column-margin;
      flex-direction: row;
    }

    &-content {
      width: 100%;
    }

    &-author {
      margin-bottom: 20px;
      @include animation-left;

      transition-delay: 0.1s;

      .swiper-slide-active & {
        @include animation-left-active;
        transition-delay: 0.4s;
        // animation-delay: 0.4s;

        // animation: SlideFade 0.5s var(--transition) forwards;
      }
    }
    &-name {
      display: inline-block;
      @include font-h3;
      font-weight: 700;
      margin-bottom: 20px;
      @include animation-left;
      transition-delay: 0.2s;

      & > a {
        @include underline-hover;

        &:hover {
          color: $color-black;
        }
      }

      .swiper-slide-active & {
        @include animation-left-active;
        transition-delay: 0.6s;
        // animation-delay: 0.6s;
      }
    }
    &-description {
      margin-bottom: 30px;
      @include animation-left;
      transition-delay: 0.3s;

      .swiper-slide-active & {
        @include animation-left-active;
        transition-delay: 0.8s;
        // animation-delay: 0.8s;
      }
    }
    &-button-wrap {
      @include animation-left;
      transition-delay: 0.4s;

      .swiper-slide-active & {
        @include animation-left-active;

        transition-delay: 1s;
        // animation-delay: 1s;
      }
    }
  }
}

.main-slider-2 {
  position: relative;

  @media (min-width: $breakpoint-medium) {
    flex: 0 0 calc(70% - #{$main-slider-gap});
    width: calc(70% - #{$main-slider-gap});
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: visible !important;

    flex: 0 0 auto;
    transition-timing-function: $easing;

    @media (min-width: $breakpoint-medium) {
      align-items: center;
      flex-direction: row;
      justify-content: end;
    }

    &-image {
      order: -1;
      transition: all 0.6s linear;
      // cursor: url(/assets/cursor-arrow-button.svg), auto;

      @media (min-width: $breakpoint-medium) {
        order: 1;
      }

      & img {
        max-height: 90vh;
      }
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    gap: 20px;

    bottom: $content-padding;
    right: $content-padding;

    z-index: 5;

    @media (min-width: $breakpoint-medium) {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      align-items: stretch;
      gap: 0;
    }

    &-arrow {
      flex: 1 1 auto;

      &--left {
        cursor: url(/assets/cursor-arrow-button-left.svg), auto;
        &.swiper-button-disabled {
          cursor: url(/assets/cursor-arrow-button-left-disabled.svg), auto;
        }
      }
      &--right {
        cursor: url(/assets/cursor-arrow-button-right.svg), auto;
        &.swiper-button-disabled {
          cursor: url(/assets/cursor-arrow-button-right-disabled.svg), auto;
        }
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        // pointer-events: none;
      }

      & > * {
        @media (min-width: $breakpoint-medium) {
          display: none;
        }
      }
    }
  }
}
