@mixin main-black-transition {
  transform: translateY($translate);
  opacity: 0;
  transition: all var(--transition);

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-black {
  background-color: $color-black;
  color: $color-white;

  padding: responsive-value(100px, 200px) 0;
  margin-bottom: 0;
  position: relative;
  min-height: calc(var(--vh) * 100);

  &__bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 0;
    min-width: 1000px;
    min-height: 100%;
    width: 100%;

    &-item {
      position: absolute;
      width: responsive-value(150px, 212px);
      user-select: none;

      & > img {
        opacity: 0.5;
      }

      &--01 {
        left: 87%;
        top: 34%;
      }
      &--02 {
        left: 30%;
        top: 63%;
      }
      &--03 {
        left: 24%;
        top: 8%;
      }
      &--04 {
        left: 43%;
        top: 32%;
      }
      &--05 {
        left: -5%;
        top: 12%;
      }
      &--06 {
        left: 65%;
        top: 5%;
      }
      &--07 {
        left: 5%;
        top: 49%;
      }
      &--08 {
        left: 66%;
        top: 60%;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(responsive-value(36px, 96px), auto);

    margin-bottom: responsive-value(80px, 160px);
    position: relative;
    z-index: 1;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    grid-column: 1 / 5;
    grid-row: 1 / 3;

    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;

    @media (min-width: $breakpoint-small) {
      font-size: 96px;
      line-height: 1.1;
    }

    @media (min-width: $breakpoint-medium) {
      @include font-h1;
    }

    @include main-black-transition;
  }
  &__subtitle {
    grid-column: 3 / -1;
    grid-row: 3 / 4;

    // align-self: flex-end;
    // margin: -1em 0 -1em 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;

    font-size: 36px;
    line-height: 1.1;

    @media (min-width: $breakpoint-medium) {
      grid-column: 4 / 8;

      margin: -1.4em 0 -1em 1em;
      @include font-lead;
    }

    @include main-black-transition;
  }
  &__title-2 {
    grid-column: 3 / -1;
    grid-row: 4 / 6;

    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;

    @media (min-width: $breakpoint-small) {
      font-size: 96px;
      line-height: 1.1;
    }

    @media (min-width: $breakpoint-medium) {
      grid-column: 6 / 10;
      grid-row: 3 / 5;

      @include font-h1;
    }

    @include main-black-transition;
  }
  &__text {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    margin-top: 30px;
    // opacity: 0.5;
    color: rgba($color-white, 0.5);

    @media (min-width: $breakpoint-medium) {
      margin-top: 0;
      grid-column: 1 / 5;
      grid-row: 5 / 6;
    }

    @include main-black-transition;
  }
  &__button {
    // grid-column: 1 / 4;
    // grid-row: 7 / 8;

    @include main-black-transition;
  }
}
