.menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: $color-black;
  padding: calc(#{$header-margin} * 2) 0 102px 102px;

  box-sizing: border-box;
  width: 100%;
  transition: all var(--transition);
  // max-height: 0;
  overflow: hidden;
  z-index: 1000;
  transform: translateX(100%);
  min-height: 100vh;
  height: calc(var(--vh) * 100);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */

  @media (min-width: $breakpoint-small) {
    width: 340px;
  }

  &:-webkit-scrollbar {
    display: none;
  }

  &.active {
    // max-height: 1000px;
    transform: translateX(0);
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &__close {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 25px;
    top: $header-margin;
    transform: translateY(-25%);
    cursor: pointer;
    overflow: hidden;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.8;
    }

    & svg {
      display: none;
    }

    @include animation-fade;
    .menu.active & {
      @include animation-fade-active;
      transition-delay: 0.7s;
    }
  }

  &__list {
    margin-bottom: 98px;

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.2s;
    }
  }

  &__item {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      @include font-menu;
      color: $color-white;
      display: block;
      position: relative;
      padding-right: 45px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -4px;
        border-bottom: 2px solid $color-white;
        width: 100%;
        transition: all var(--transition);
        transform: translateX(100%);
        transition-delay: 0.4s;
      }

      &:hover {
        color: $color-white;
        &:after {
          transition-delay: 0s;
          transform: translateX(0);
        }
      }
    }
  }
  &__buttons {
    margin-bottom: 113px;

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.4s;
    }
  }

  &__language {
    &-item {
      @include font-menu;
      color: $color-white;
    }

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.5s;
    }
  }
}
