.menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color-black;
  padding: calc(#{$header-margin} * 2) 45px 102px 102px;

  box-sizing: border-box;
  width: 100%;
  transition: all var(--transition);
  // max-height: 0;
  overflow: hidden;
  z-index: 1000;
  transform: translateX(100%);

  @media (min-width: $breakpoint-small) {
    width: 340px;
  }

  &.active {
    // max-height: 1000px;
    transform: translateX(0);
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &__close {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 25px;
    top: $header-margin;
    transform: translateY(-25%);
    cursor: pointer;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.8;
    }

    @include animation-fade;
    .menu.active & {
      @include animation-fade-active;
      transition-delay: 0.7s;
    }
  }

  &__list {
    margin-bottom: 98px;

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.2s;
    }
  }

  &__item {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      @include font-menu;
      color: $color-white;
    }
  }
  &__buttons {
    margin-bottom: 113px;

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.4s;
    }
  }

  &__language {
    &-item {
      @include font-menu;
      color: $color-white;
    }

    @include animation-right;
    .menu.active & {
      @include animation-right-active;
      transition-delay: 0.5s;
    }
  }
}
