.posts {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(12, 1fr);
    }

    &-title {
      grid-column: 1 / -1;
      margin-bottom: responsive-value(
        40px,
        90px,
        $mobile-min-width,
        $breakpoint-medium
      );
      position: relative;
      color: $color-black;
      opacity: 0.3;

      $desktop-base-size: 15 * $base-font-size;
      $mobile-base-size: 6 * $base-font-size;

      font-size: $mobile-base-size;
      line-height: 1.2;
      // letter-spacing: -0.01em;
      font-weight: bold;

      @media (min-width: $breakpoint-small) {
        line-height: 1.1;

        font-size: responsive-value(
          $mobile-base-size,
          $desktop-base-size,
          $breakpoint-small,
          $desktop-width,
          'w'
        );
      }

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: 0;
      }

      @media (min-width: $desktop-width) {
        font-size: $desktop-base-size;
      }

      .posts__list--articles & {
        text-align: right;
        right: -0.7em;
      }
      .posts__list--news & {
        text-align: left;
        // left: -0.7em;
        right: -0.7em;
      }
      .posts__list--reviews & {
        text-align: right;
        right: -0.7em;
      }
    }
  }

  &__item {
    position: relative;
    // width: 40%;
    grid-column: 1 / -1;
    margin-bottom: 40px;
    border: 1px solid $color-white;
    overflow: hidden;
    transition: transform 0.1s ease;

    @media (min-width: $breakpoint-small) {
      grid-column: 2 / 8;
      margin-bottom: 90px;
    }

    @media (min-width: $breakpoint-medium) {
      grid-column: 2 / 6;
      margin-bottom: responsive-value(-70px, -150px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--horizontal {
      align-self: flex-end;
      grid-column: 1 / -1;
      // transform: translateY(-30%);
      @media (min-width: $breakpoint-small) {
      }

      @media (min-width: $breakpoint-medium) {
        grid-column: 5 / 12;
      }
    }

    // &:nth-child(n) {
    //   z-index: 1;
    // }
    // &:nth-child(2n + 1) {
    //   z-index: 2;
    // }

    &-bg {
      & img {
        filter: grayscale(0);

        transition: all var(--transition);
        // @include transition-fix;

        .posts__item:hover & {
          filter: grayscale(1);

          transform: scale(1.05);
        }
      }
    }
    &-type {
      position: absolute;
      top: $content-padding;
      left: $content-padding;

      font-size: 20px;
      font-weight: 700;
      color: $color-white;
      overflow-wrap: break-word;

      @media (min-width: $breakpoint-small) {
        @include font-h4;
      }

      .posts__item--horizontal & {
        left: auto;
        right: $content-padding;
      }
    }

    &-bottom {
      position: absolute;
      bottom: $content-padding;
      left: $content-padding;
      right: $content-padding;
      color: $color-white;
      overflow-wrap: break-word;

      display: grid;
      grid-template-columns: 1fr $button-arrow-size;
      gap: 10px;

      .posts__item--horizontal & {
        // width: 100%;
      }
    }
    &-address {
      grid-column: 1 / 2;
    }
    &-title {
      grid-column: 1 / 2;
      font-weight: 700;
      color: $color-white;
      overflow-wrap: break-word;

      @media (min-width: $breakpoint-small) {
        @include font-h3;
      }

      .posts__item--horizontal & {
        // width: 100%;
      }

      & > a {
        color: $color-white;

        @include underline-hover;
        background-image: linear-gradient($color-white, $color-white);

        .posts__item:hover & {
          @include underline-hover-hover;
        }
      }
    }
    &-date {
      position: absolute;
      right: $content-padding;
      bottom: calc(#{$content-padding} + #{$button-arrow-size} + 20px);
      top: $content-padding;
      transform: rotate(180deg) translateX(-0.2em);
      writing-mode: vertical-lr;
      text-orientation: revert;
      color: $color-white;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-link {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    &-sections {
      position: absolute;
      top: $content-padding;
      left: $content-padding;
      color: $color-white;
    }

    &-button {
      // opacity: 0;
      grid-column: 2 / 3;
      align-self: flex-end;

      transition: all var(--transition);

      .posts__item:hover & {
        opacity: 1;

        & > .button {
          background-color: $color-white;
          border-color: $color-black;
          opacity: 1;

          & svg {
            path {
              stroke: $color-black;
            }
          }
        }
      }
    }
  }
}
