.posts {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(12, 1fr);
    }

    &-title {
      grid-column: 1 / -1;
      margin-bottom: responsive-value(
        40px,
        90px,
        $mobile-min-width,
        $breakpoint-medium
      );
      position: relative;
      color: $color-black;
      opacity: 0.3;

      $desktop-base-size: 15 * $base-font-size;
      $mobile-base-size: 6 * $base-font-size;

      font-size: $mobile-base-size;
      line-height: 1.2;
      // letter-spacing: -0.01em;
      font-weight: bold;

      @media (min-width: $breakpoint-small) {
        line-height: 1.1;

        font-size: responsive-value(
          $mobile-base-size,
          $desktop-base-size,
          $breakpoint-small,
          $desktop-width,
          'w'
        );
      }

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: $margin-100;
      }

      @media (min-width: $desktop-width) {
        font-size: $desktop-base-size;
      }

      .posts__list--articles & {
        text-align: right;
        right: -0.7em;
      }
      .posts__list--news & {
        text-align: left;
        left: -0.7em;
      }
      .posts__list--reviews & {
        text-align: right;
        right: -0.7em;
      }
    }
  }
}
