.title {
  // overflow: hidden;
  margin-bottom: $margin-large;
  position: relative;
  display: inline-block;

  &--gallery {
    margin-bottom: 0;

    &:after {
      display: none !important;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: -50vw;
    border-bottom: 2px solid $color-black;

    transform: translateX(-100%);
    // transition: transform 1s var(--easing) 0.3s;

    body.init & {
      // transform: translateX(0);
      animation: SlideRight100 0.6s var(--easing) 0.3s forwards;
    }
  }

  &__wrap {
    display: block;
    overflow: hidden;
    margin-bottom: responsive-value(30px, 40px);

    .title--gallery & {
      margin-bottom: 0;
    }

    // transform: translateY(100%);
  }
  &__text {
    display: block;

    // animation
    transform: translateY(100%);
    padding-bottom: 4px; // fix of overflow cutting bottoms of the letters
    body.init & {
      animation: SlideTop100 0.6s var(--easing) 0.5s forwards;
    }
  }
}
