.footer {
  padding: 95px 0 responsive-value(50px, 100px);
  border-top: 2px solid $color-black;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
  }

  & a {
    @include link-hover-gradient($color-gray, $color-black);
  }

  &--black {
    background-color: $color-black;
    color: $color-white;

    & a {
      // color: $color-white;
      @include link-hover-gradient($color-white, $color-gray);

      &:hover {
        // color: $color-gray;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $breakpoint-medium) {
    }
  }
  &__top {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: $margin-60;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
  }
  &__bottom {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    flex-direction: column;
    gap: $margin-60;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }

  &__left {
    flex: 1 0 auto;
  }

  &__email {
  }
  &__copyright {
    color: $color-gray;

    & a {
      // color: $color-gray;
      text-decoration: underline;

      &:hover {
        // color: $color-black;
      }

      .footer--black & {
        &:hover {
          // color: $color-white;
        }
      }
    }
  }

  &__right {
    order: -1;
    flex: 0 0 auto;

    @media (min-width: $breakpoint-medium) {
      order: 1;
    }
  }

  &__contacts {
    a {
      @include link-hover-gradient($color-black, $color-gray);
      margin-left: 10px;

      .footer--black & {
        @include link-hover-gradient($color-white, $color-gray);
      }
    }
  }

  &__social {
    display: flex;
    gap: responsive-value(30px, 60px);
    order: -1;

    @media (min-width: $breakpoint-medium) {
      order: 1;
    }

    &-link {
      $link-size: responsive-value(32px, 54px);

      display: block;
      width: $link-size;
      height: $link-size;
      transition: opacity var(--transition);

      .footer--black & {
        // filter: invert(1);
      }
      &:hover {
        // opacity: 0.5;
      }
    }
  }

  &__scrolltop {
    body.page--index & {
      display: block;
    }
    display: none;

    position: absolute;
    right: $container-margin;
    top: -22px;
    overflow: hidden;
    cursor: pointer;

    transform-origin: bottom right;
    transform: rotate(-90deg);

    &:hover {
      .footer__scrolltop-link {
        animation: OutIn 1s cubic-bezier(0.5, 0, 0.26, 0.99) forwards;
      }
    }

    &-link {
      &:hover {
      }
    }
    // transform: rotate(90deg);
  }
}
