// @font-face {
//   font-family: 'Lucida Grande';
//   src: url('/fonts/LucidaGrande.woff2') format('woff2'),
//     url('/fonts/LucidaGrande.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'HeliosC';
  src: url('../fonts/subset-HeliosC.woff2') format('woff2'),
    url('../fonts/subset-HeliosC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'HeliosC';
  src: url('../fonts/subset-HeliosC-Bold.woff2') format('woff2'),
    url('../fonts/subset-HeliosC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
