footer.footer(class=footerClass)
  .footer__wrapper.container 
    .footer__top
      .footer__left 
        .footer__email(data-aos="fade-up", data-aos-delay="100")
          a(href="mailto:office@xeniumgallery.com ") office@xeniumgallery.com 
      .footer__right 
        .footer__contacts(data-aos="fade-up", data-aos-delay="300")
          | Curation: Philip Firsov 
          a(href="tel:+447745022062") +44 7745 022062
    .footer__bottom
      .footer__left 
        .footer__copyright(data-aos="fade-up", data-aos-delay="500")
          p © 2021 Xenium Gallery
          p 
            a(href="#") Privacy policy
      .footer__right 
        .footer__social(data-aos="fade-up", data-aos-delay="700")
          a(href="").footer__social-link 
            +svg({name:'facebook'})
          a(href="").footer__social-link 
            +svg({name:'twitter'})
          a(href="").footer__social-link 
            +svg({name:'instagram'})