header.header
  .header__wrapper.container 
    a.header__logo(href="index.html") 
      +logo()
    .header__menu
      .header__menu-link
        +svg({name: 'menu', viewbox:'0 0 56.3 14.9'})
  nav.menu
    a.menu__close
      +svg({name: 'close'})
    ul.menu__list
      +menu-item({name: 'Gallery', href: '/gallery.html'})
      +menu-item({name: 'Artists', href: '/gallery.html'})
      +menu-item({name: 'Events', href: '/events.html'})
      +menu-item({name: 'About', href: '/about.html'})
      +menu-item({name: 'Contacts', href: '/contacts.html'})
      +menu-item({name: 'FAQ', href: '/faq.html'})
    .menu__buttons 
      a.button.button--black(href="") Send e-mail 
    .menu__language 
      a.menu__language-item(href="") RU 
          