.preloader.preloader--visible
  .preloader__container 
    .preloader__left 
      +svg({name:'preloader-x'})
    .preloader__center 
      +svg({name:'preloader-center'})
    .preloader__right 
      +svg({name:'preloader-g'})
