mixin artwork()
  .container
    h1.artwork__title.title
      span.title__wrap 
        span.title__text Red Man I
    .artwork__wrap
      .artwork__left
        .artwork__left-wrap
          .artwork__left-wrap-sticky
            a(href="").artwork__author 
              .artwork__author-name 
                | Valeriy 
                br
                | Alyoshin
              .artwork__author-years 1937-2011
              .artwork__author-hover
                | view 
                br
                | artist’s 
                br 
                | profile 
              .artwork__author-arrow 
                +svg({name: 'arrow-alt'})
            dl.artwork__parameters 
              dt.artwork__parameter-name style 
              dt.artwork__parameter-value: a(href="") nonconformism 
              dt.artwork__parameter-name material 
              dt.artwork__parameter-value oil on canvas 
              dt.artwork__parameter-name year
              dt.artwork__parameter-value 1960s 
              dt.artwork__parameter-name size
              dt.artwork__parameter-value 40x60
            .artwork__description
              p Ideally this tapestry would float across these dirty waters to get us to Venice. It will tell you all that will happen picking up stories on the way and we will tell you salades. This tapestry was created by Laure Prouvost in the lead-up to the artist's French Pavilion at the 58th Biennale Arte in Venice, 1960.
            a(data-micromodal-open="modal-enquiry").artwork__enquire.button Enquire
      .artwork__right 
        .artwork__gallery(itemscope, itemtype="http://schema.org/ImageGallery")
          figure.artwork__image(itemscope, itemtype="http://schema.org/ImageObject")
            a(href="/assets/artwork-image-01.jpg",itemprop="contentUrl", data-size='1000x1250').artwork__image-image 
              img(src="/assets/artwork-image-01.jpg", alt="")
            .artwork__image-icons
              a(href="").artwork__image-icon.artwork__image-icon--size.artwork-gallery-ignore 
                +svg-size()
              a(href="").artwork__image-icon.artwork__image-icon--like.artwork-gallery-ignore 
                +svg-like()
              a(href="").artwork__image-icon.artwork__image-icon--zoom
                +svg-zoom()
          figure.artwork__image(itemscope, itemtype="http://schema.org/ImageObject")
            a(href="/assets/artwork-image-02.jpg",itemprop="contentUrl", data-size='1400x1000').artwork__image-image 
              img(src="/assets/artwork-image-02.jpg", alt="")
            .artwork__image-icons
              a(href="").artwork__image-icon.artwork__image-icon--zoom 
                +svg-zoom()
          figure.artwork__image(itemscope, itemtype="http://schema.org/ImageObject")
            a(href="/assets/artwork-image-03.jpg",itemprop="contentUrl", data-size='1400x1000').artwork__image-image 
              img(src="/assets/artwork-image-03.jpg", alt="")
            .artwork__image-icons
              a(href="").artwork__image-icon.artwork__image-icon--zoom
                +svg-zoom()

    .artwork__related 
      h4.artwork__related-title
        span another works in collection by artist
      ul.gallery__items 
        +gallery-item({image: 'gallery-item-01.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: ''})
        +gallery-item({image: 'gallery-item-02.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: 'reverse'})
        +gallery-item({image: 'gallery-item-01.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: ''})
        +gallery-item({image: 'gallery-item-02.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: 'reverse'})
        +gallery-item({image: 'gallery-item-02.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: 'reverse'})
        +gallery-item({image: 'gallery-item-02.jpg', title: 'Red <br> Man I', author: 'Valery Alyoshin', tags: 'nonconformism, avant-garde, 60th, russian art, all, oil canvas', class: 'reverse'})
    .artwork__navigation.navigation 
      +navigation-link({class:'right', name: 'show all works', desc: 'Valery Alyoshin'})
  .pswp(tabindex='-1', role='dialog', aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
      //- don't modify these 3 pswp__item elements, data is added later on.
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close.button--close-icon(title='Close (Esc)')
            +svg({name: 'close-stroke'})
          //- button.pswp__button.pswp__button--share(title='Share')
          button.pswp__button.pswp__button--fs.button--fullscreen(title='Toggle fullscreen')
            +svg({name: 'fullscreen'})
          button.pswp__button.pswp__button--zoom.button--zoom(title='Zoom in/out')
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
        button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
        //- .pswp__caption
        //-   .pswp__caption__center
  +modal-like()
  +modal-size()
  +modal-enquiry()