mixin cookie(args)
  .cookie
    .container
      .cookie__container 
        //- .cookie__left 
          img(src="/assets/cookie.svg", alt="")
        .cookie__right 
          .cookie__text We use cookies to ensure that we give you the best experience on our website. If you continue without opting out, we'll assume that you are happy to receive all cookies on the Xenium Gallery website. You can change your cookie settings at any time through your browser settings but you may receive a limited service through the website because of this.
          a(href="").cookie__link View More 
          a(href="#").cookie__button.button.button--black Accept and continue
