
mixin gallery-item(args)
  li(class="gallery__item gallery__item--" + args.class,  data-aos-delay="200")
    //- data-aos="fade-up",
    .gallery__item-image 
      a(href="/artwork-url/", data-artwork-id="test").gallery__item-link.artwork-modal__link.artwork-modal-reload0
      img(src="/assets/" + args.image, alt="")
      div(data-micromodal-open="modal-like").gallery__item-like.icon
        //- +svg-like()
        .icon__wrap.icon__wrap--like
        +svg-like()

        
    .gallery__item-content 
      .gallery__item-title
        a(href="#", data-artwork-id="test").artwork-modal-reload0.artwork-modal__link !{args.title}
      .gallery__item-author 
        a(href="#") !{args.author}
      .gallery__item-tags= args.tags

mixin gallery-pagination(args)
  .gallery__pagination 
    a(href="").gallery__pagination-item.gallery__pagination-item--prev
      .arrow.arrow--prev
        +svg({name: 'arrow-head'}).arrow__head
    a(href="").gallery__pagination-item.active 1 
    a(href="").gallery__pagination-item 2 
    a(href="").gallery__pagination-item 3
    a(href="").gallery__pagination-item.gallery__pagination-item--next
      .arrow.arrow--right
        +svg({name: 'arrow-head'}).arrow__head