mixin modal(args)
  .modal.micromodal-slide(id=args.id, aria-hidden='true', class="modal" + args.class)
    .modal__overlay(tabindex='-1', data-micromodal-close='')
      .modal__container(role='dialog', aria-modal='true',class="modal__container" + args.class)
        +modal-close({class: args.class})
        .modal__content(class="modal__content" + args.class)
          block

mixin modal-close(args)
  button.modal__close.close(aria-label='Close modal', data-micromodal-close='', class='close' + args.class)
    //- +svg({name: 'close-stroke'})
    span.close__top 
    span.close__bottom

mixin modal-enquiry()
  +modal({id:"modal-enquiry", title:"Sign up <br> for an event", class:'--form'})
    h3.modal__title !{'Sign up <br>for an event'}
    form.modal__form.form.form--modal
      +form-row({name: "enquire-name", title: "", validate: 'empty', inputmask: "", placeholder: 'Name'})
      +form-row({name: "enquire-email", title: "", validate: 'email', inputmask: "", placeholder: 'E-mail'})
      +form-row({name: "enquire-text", title: "", validate: 'empty', inputmask: "", placeholder: 'Number of participants'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send

mixin modal-size()
  +modal({id:"modal-size", class:'--size'})
    //- .artwork__size.artwork__size--sculpture
    //-   figure.artwork__size-work 
    //-     figcaption.artwork__size-caption.artwork__size-caption--left: span 100 cm
    //-     img(src="/assets/artwork-size-01.jpg", alt="", data-height="100")
    //-   figure.artwork__size-reference 
    //-     img(src="/assets/artwork-size-reference.svg", alt="", data-height="200")
    //-     figcaption.artwork__size-caption.artwork__size-caption--right: span 200 cm


mixin modal-video()
  +modal({id:"modal-video", class:'--video'})
    //- .artwork__video
    //-   video(controls, width="100%", disablepictureinpicture, muted, playsinline)
    //-     source(src="/assets/video.mp4", type="video/mp4")


mixin modal-like()
  +modal({id:"modal-like", title:"thank you!", class:"--like"})
    .modal__like
      +svg({name:'like'})
    h3.modal__title thank you!
    p You can share your favorite post in your social networks.
    form.modal__form.form.form--modal
      +form-row({name:"form-email", title:'', validate:'email', inputmask:'',placeholder:'E-mail'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send
      input(type="hidden", name="like-artwork", id="like-artwork")

    .modal__socials 
      a.modal__social.icon.icon--social.modal__social--facebook(href="#")
        .icon__wrap.icon__wrap--facebook
        +svg-facebook()
      a.modal__social.icon.icon--social.modal__social--twitter(href="#")
        .icon__wrap.icon__wrap--twitter
        +svg-twitter()
      a.modal__social.icon.icon--social(href="#")
        +svg({name:'link'})

mixin modal-gallery-like()
  +modal({id:"modal-gallery-like", title:"thank you!", class:"--like"})
    .modal__like
      +svg({name:'like'})
    h3.modal__title thank you!
    p You can share your favorite post in your social networks.
    form.modal__form.form.form--modal
      +form-row({name:"form-email", title:'', validate:'email', inputmask:'',placeholder:'E-mail'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send
      input(type="hidden", name="gallery-like-artwork", id="gallery-like-artwork")

    .modal__socials 
      a.modal__social.icon.icon--social.modal__social--facebook(href="https://www.facebook.com/sharer/sharer.php?u=")
        .icon__wrap.icon__wrap--facebook
        +svg-facebook()
      a.modal__social.icon.icon--social.modal__social--twitter(href="http://twitter.com/share?url=")
        .icon__wrap.icon__wrap--twitter
        +svg-twitter()
      a.modal__social.icon.icon--social.js-copy-link(href="#")
        +svg({name:'link'})


mixin modal-artwork()
  .artwork-modal(aria-hidden="true")
    .artwork-modal__container
      +close({class: 'artwork-modal__close close--black'})
      .artwork__loader 
        +svg({name:'loader'})
      .artwork
        +artwork()

mixin modal-email()
  +modal({id:"modal-email", title:"Sign up <br> for an event", class:'--form'})
    h3.modal__title !{'Sign up <br>for an event'}
    form.modal__form.form.form--modal
      +form-row({name: "form-name", title: "", validate: 'empty', inputmask: "", placeholder: 'Name'})
      +form-row({name: "form-email", title: "", validate: 'email', inputmask: "", placeholder: 'E-mail'})
      +form-row({name: "form-text", title: "", validate: 'empty', inputmask: "", placeholder: 'Number of participants'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send