mixin modal(args)
  .modal.micromodal-slide(id=args.id, aria-hidden='true', class="modal" + args.class)
    .modal__overlay(tabindex='-1', data-micromodal-close='')
      .modal__container(role='dialog', aria-modal='true',class="modal__container" + args.class)
        +modal-close({class: args.class})
        .modal__content(class="modal__content" + args.class)
          block

mixin modal-close(args)
  button.modal__close.close(aria-label='Close modal', data-micromodal-close='', class='close' + args.class)
    //- +svg({name: 'close-stroke'})
    span.close__top 
    span.close__bottom

mixin modal-enquiry()
  +modal({id:"modal-enquiry", title:"Sign up <br> for an event", class:'--form'})
    h3.modal__title !{'Sign up <br>for an event'}
    form.modal__form.form.form--modal
      +form-row({name: "form-name", title: "", validate: 'empty', inputmask: "", placeholder: 'Name'})
      +form-row({name: "form-email", title: "", validate: 'email', inputmask: "", placeholder: 'E-mail'})
      +form-row({name: "form-text", title: "", validate: 'empty', inputmask: "", placeholder: 'Number of participants'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send

mixin modal-size()
  +modal({id:"modal-size", class:'--size'})
    .artwork__size.artwork__size--sculpture
      figure.artwork__size-work 
        figcaption.artwork__size-caption.artwork__size-caption--left: span 100 cm
        img(src="/assets/artwork-size-01.jpg", alt="", data-height="100")
      figure.artwork__size-reference 
        img(src="/assets/artwork-size-reference.svg", alt="", data-height="200")
        figcaption.artwork__size-caption.artwork__size-caption--right: span 200 cm

mixin modal-like()
  +modal({id:"modal-like", title:"thank you!", class:"--like"})
    .modal__like
      +svg({name:'like'})
    h3.modal__title thank you!
    p You can share your favorite post in your social networks.
    form.modal__form.form.form--modal
      +form-row({name:"form-email", title:'', validate:'email', inputmask:'',placeholder:'E-mail'})
      .form__row.form__submit
        button(type="submit").form__submit-button.button.button--black Send

    .modal__socials 
      a.modal__social(href="#")
        +svg({name:'facebook'})
      a.modal__social(href="#")
        +svg({name:'twitter'})
      a.modal__social(href="#")
        +svg({name:'instagram'})
      a.modal__social(href="#")
        +svg({name:'link'})


mixin modal-artwork()
  .artwork-modal(aria-hidden="true")
    .artwork-modal__container
      +close({class: 'artwork-modal__close close--black'})
      .artwork__loader 
        +svg({name:'loader'})
      .artwork
        +artwork()