extends ../layout/main

block variables
  - var title = 'Xenium Gallery';
  - var description = 'Description';
  - var pageClass = 'page--artwork';
  - var footerClass = '';

block content
  include ../includes/modules/preloader
  section.section.artwork
    +artwork()
